#galeria{
  display: flex;
}
.contenedor-productos {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .producto {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .producto:hover {
    transform: scale(1.05);
  }
  
  .imagen {
    width: 100%;
    border-radius: 8px;
  }
  
  .boton {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .boton:hover {
    background-color: #0056b3;
  }
  


  .navegacion-menu-nav-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #629660ce;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    max-width: 30%; 
    margin: 20px auto;
  }
  
    
    nav .menu-elemento-galerias {
      color: white;
      text-decoration: none;
      font-size: 18px;
      padding: 10px 20px;
      margin: 0 15px;
      border-radius: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    nav .menu-elemento-galerias:hover {
      background-color: #282828;
      color: #505fe0;
    }
    
    nav .menu-elemento-galerias:active {
      background-color: #ff4500; 
    }
    
    nav .menu-elemento-galerias:last-child {
      margin-right: 0;
    }
    
    nav .menu-elemento-galerias.active {
      background-color: #ff4500;
      color: white;
    }