.contenedor-errores {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #ffe6e6;
}

.contenedor-errores h2 {
  font-size: 1.2em;
  color: red;
  margin-bottom: 10px;
}

.error-item {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 5px;
}

.error-item strong {
  color: red;
}
